<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --Montserrat: 'Montserrat', sans-serif;
    --White: #fff;
    --hover_uchun: rgb(0, 140, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


header {
    background-image: url(img/header_bg_z.jpg);
    height: 100vh;
    background-size: cover;
}

header nav {
    max-width: 80%;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
}

header nav ul {
    display: inline-block;
    align-items: center;
    padding: 50px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    padding: 50px;
    font-family: var(--Montserrat);
    color: var(--White);
    transition: .7s;
}

header nav ul li a:hover {
    color: var(--hover_uchun);
}

header nav ul select {
    background: transparent;
    border: none;
    color: var(--White);
}

header nav ul select option {
    background: grey;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}

header main {
    max-width: 80%;
    margin: auto;
    margin-top: 300px;
}

header main p {
    max-width: 687px;
    color: var(--White);
    font-family: var(--Montserrat);
    font-size: 38px;
    font-weight: 700;
}

header main button {
    color:var(--White);
    font-family: var(--Montserrat);
    font-size: 22px;
    font-weight: 500;
    padding: 15px 76px;
    border-radius: 8px;
    background: var(--dark-blue, #114E86);
    border: none;
    margin-top: 50px;
    transition: .7s;
}

header main button:hover {
    background: transparent;
    color: #114E86;
    border-radius: 8px;
    border: 2px solid #114E86;
=======
.paragraph h1{
    text-align: center;
    width: 80%;
}
.paragraphinfo{
    width: 970px;
height: 336px;
flex-shrink: 0;
margin: auto;
width: 80%;
}
.paragraphinfo p{
    color: #000;

/* 20 */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 100px;
    justify-content: space-between;
}
.aloqa{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    color: #fff;
}
.tel{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-evenly;
}
.loc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-evenly;
}
.loc p{
    font-size: 12px;
    width: 70%;
}
.sms{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 0px 0px 10px;
    align-items: center;
    justify-content: space-evenly;
}
.menyu{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menyu p{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px 30px;
}
.murojat{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.murojat input{
    margin-top: 10px;
}
footer button{
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: rgb(79, 79, 208);
    border: none;
    color: #fff;
>>>>>>> d28443c3b04ac1ab87215bee1c98ac72eb39d58c
}